html{
    height: fit-content;
    margin: 100px;
    overflow: scroll;
}

@media only screen and ((orientation=landscape)){
     html{
         background-color: yellow;
     }
  
}

.nav1 ul{
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    
}
ul li{
    display: inline;
    text-align: center;
    color: black;
    margin: 10px;
}
#logo{
    display: inline;
    font-size: x-larger;
    font-weight: bolder;
   height: 100px;
   justify-content: left; 
   font-family: Montserrat;
}
.navi{
    float: right;
    justify-content: right;
    margin: 10px;
    font-weight: bolder;
}
.l2{
    display: inline;
    background-color: blue;
    font-weight: bolder;
    color: black;
}
.l1{
    display: inline;
    font-weight: bolder;
    margin: 10px;
}
.container{
    background-size: cover;
    background-image: url("images/-hero-cover.3.png");
    background-clip: border-box;
    width: 100%;
}

.pgr{
    text-align: center;
    justify-content: center;
    color: white;
}
#b1{
    background-color: blue;
    color: white;
    border-radius: 180px;
    padding: 10px;
}
#b2{
    background-color: transparent;
    color: white;
    border-radius: 180px;
    padding: 10px;  
}
.flex-container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
}
.section1{
    border: 2px solid black;
    background-color: white;
    padding: 30px;
    border-radius: 45px;
    margin: 10px;
    
}
.section2{
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    border-radius: 45px;
    margin: 10px;
}
.section3{
    border: 2px solid black;
    background-color: blue;
    padding: 20px;
    border-radius: 45px;
    margin: 10px;
}
.container1{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: whitesmoke;
    margin: 200px;
}
.c1{
    margin: 10px;
    border: none;
    padding: 30px;
    font-size: x-small;
    border-radius: 45px;

}
.c2{
    margin: 10px;
    border: none;
    padding: 30px;
    font-size: x-small;
    border-radius: 45px;
}
.c3{
    margin: 10px;
    border: none;
    padding: 30px;
    font-size: x-small;
    border-radius: 45px;
}
.con0{
    justify-content: center;
    align-content: center;
    opacity: 0.5;
    text-align: center;
}
.con{
    display: flex;
    justify-content: center;
    align-content: center;
    opacity: 0.5;
    text-align: center;
    padding: 30px;
}
.con1{
    border: 2px solid black;
    padding: 30px;
    border-radius: 45px;
    margin: 10px;
}
.con2{
    border: 2px solid black;
    padding: 30px;
    border-radius: 45px;
    margin: 10px;
}
.con3{
    border: 2px solid black;
    padding: 30px;
    border-radius: 45px;
    margin: 10px;
}
#images{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
}
*#ig1{
    margin: 20px;
}
#ig2{
    margin: 20px;
}
#ig3{
    margin: 20px;
}
#ig4{
    margin: 20px;
}
#ig5{
    margin: 20px;
}
#ig6{
    margin: 20px;
}
.box{
    background-color: purple;
    padding: 20px;
    height: 40px;
    width: 40%;
    border: 2px solid black;
    display: flex;
    margin-left: 150px; 
    box-sizing: content-box;
    justify-content: center;
}
.box p{
    font-size: small;
    font-weight: bolder;
    align-content: center;
    justify-content: left;
}
#box1{
    width: 200px;
    text-align: left;
    display: flex;
    height: 30px;
    align-content: right;
}
#box2{
    width: 100px;
    background-color: blueviolet;
    height: 30px;
    justify-content: right;
}
.pricing{
    text-align: center;
    margin-top: 30px;
}
.p{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.p ul>li{
    list-style-type: none;
    display: inline-block;
    font-size: small;
    align-items: center;
}
.p1{
    text-align: center;
    border: 1px solid blue;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
   padding: 50px;
}
.p2{
    border: 1px solid blue;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
    background-color: darkblue;
    color: white;
    padding: 50px;
}   
.p3{
    border: 1px solid blue;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
}

.back{
    padding: 40px;
    background-color: black;
    justify-content: center;
    color: white;
    height: 500px;
    width: 100%;
    
}
.back2{
    justify-content: right;
    margin-bottom: 50px;
    align-content: right;
   float: right;
}

.bottom{
    display: flex;
    margin-top: 50px;
}
.btm{
    background-color: white;
    margin: 10px;
    box-shadow:  5px 3px 4px grey ;
}
.btm ul>li{
       font-size: x-large;
       display: inline-block;
       margin: 20px; 
       display: inline-block;
       font-size: small;
      align-items: center;   
} 
.btm0{
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-shadow:  5px 3px 4px grey ;
}   

.final{
    color: black;
    justify-content: center;
    text-align: center;
    align-content: center;
}
.f1 ul>li{
    list-style-type: none;
    margin: 10px;
    text-align: center;
    display: inline-block;
    font-size: small;
    align-items: center;
}
.f1{
    text-align: center;
    color: black;
    display: flex;
    background-color: beige;
    padding: 50px;
    justify-content: center;
}
.f2{
    border: none;
    padding: 20px;
    align-content: center;
    border-radius: 45px;
    margin: 10px;
}
.f3{
    border: none;
    padding: 20px;
    text-align: left;
    border-radius: 45px;
    margin: 10px;
}
.f4{
    border: none;
    padding: 20px;
    text-align: center;
    border-radius: 45px;
    margin: 10px;
}
.f5{
    border: none;
    padding: 20px;
    text-align: left;
    border-radius: 45px;
    margin: 10px;
}
.f6{
    border: none;
    padding: 20px;
    text-align: center;
    border-radius: 45px;
    margin: 10px;
}
footer{
    font-size: small;
    color: black;
}
.fimg{
    float: right;
    margin: 10px;
}






/* For width 480px and smaller: */
@media  screen and (max-width: 480px){
    head{
       font-size: smaller;
     }
     .container{
         background-image: none;
         background-color: grey;
     }
    html{
        background-color: #252B42;
        color: black;
    }
    body{
        background-color: white;
        color: black;
        font-size: 5px;
    }
        .flex-container{
           color: black;
           flex-wrap: wrap;
           font-size: 5px;
           display: flex;
        }
    .container1{
        display: flex;
        font-size: 5px;
        align-items: center;
    }
    .pgr{
        font-size: 10px;
        color: blue;
        text-align: left;
    }
    .con{
        overflow: scroll;
        color: blue;
        flex-wrap: wrap;
        font-size: 5px;
        margin: 3x;

    }
    #images{
        flex-direction: column;


    }
    .box{
        border: none;
        background-color: white;
        flex-direction: column;
        text-align: center;
        display: inline;
        font-size: 5px;
    }

    .p{
        flex-direction: column;
        
        color: blue;
    }
    .p1{
        border: none;
        padding: none;
    }
    .p ul>li{
         font-size: 8px;
         align-items: center;
    }
    .btm0{
       display: none;
    
    }
    .btm{
        
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        font-size: 8px;
        justify-content: left;
    }
    .btm ul>li{
        font-size: 10px;
    }
    .back2{
     display: none;
    }
    .back1{
        font-size: 8px;
        display: flex;
    }
    .f1{
        flex-direction: column;
         background-color: grey;
    
    }
    .f1 ul>li{
        font-size: 10px;
        text-align: center;
        border: none;
    }
    
}