.nav1 ul{
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    
}
#logo{
    font-weight: bolder;
   display: flex;
   justify-content: left; 
   font-family: Montserrat;
}
.navi{
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin: 10px;
    color: black;
}
.l2{
    display: flex;
    background-color: blue;
    font-weight: bolder;
    color:  #23A6F0;
}
.l1{
    display: flex;
    font-weight: bolder;
    margin: 10px;
}
.container{
    background-size: cover;
    background-image: url("images/-hero-cover.3.png");
    background-clip: content-box;
    height: 600px;
    width: 100%;
}
.pgr{
    text-align: center;
    justify-content: center;
}