.nav1 ul{
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}
#logo{
    font-weight: bolder;
   display: flex;
   justify-content: left; 
   font-family: Montserrat;
}
.navi{
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin: 10px;
}
.l2{
    display: flex;
    background-color: blue;
    font-weight: bolder;
}
.l1{
    display: flex;
    font-weight: bolder;
    margin: 10px;
}
.nav.bg{
    background-image: url(images/#hero-cover.3.png);
    height: 300px;
    width: 100%;
}
